@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: gray;
    width: 100vw;
    height: 100vh;
}

.container{
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: "left right"
    "footer footer";
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;*/

    justify-content: center;
    align-content: center;
}

.left{
    /*background-color: red;*/
    grid-area: left;
    min-width: 400px;
    min-height: 615px;
}

.left .mobile{
    background-image: url("imagens/fundo.png");
    min-width: 465px;
    min-height: 635px;
}

.left img{
    position: relative;
    top: 25px;
    left: 155px;
    width: 250px;
    height: 541px;
}

.right{
    background-color: green;
    grid-area: right;
    min-width: 400px;
    min-height: 615px;
}

.box{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 25px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.box span{
    font-size: 13px;
    font-weight: 400;
}

.box span > a{
    color: #0095F6;
    text-decoration: none;
    font-weight: 700;
}

.logo-instagram{
    width: 175px;
    padding: 25px;
}

.right input{
    padding: 8px 15px;
    font-size: 12px;
    min-width: 200px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    color: #8e8e8e;
    border-radius: 5px;
}

.botao-login{
    min-width: 200px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 4px 15px;
    border: none;
    border-radius: 3px;
    background-color: #a9dfff;
}

.right p{
    font-size: 11px;
    color: #8E8E8E;
}

.right p::before{
    content: "________________";
    position: relative;
    top: -5px;
    left: -15px;
}

.right p::after{
    content: "________________";
    position: relative;
    top: -5px;
    left: 15px;
}

.entrar-face{
    color: #385185;
    font-weight: 700;
    font-size: 12px;
}

.azul{
    text-decoration: none;
    text-align: center;
    color: #374c89;
    font-size: 12px;
    font-weight: 400;
}
.box-footer{
    padding: 25px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box-footer img{
    max-width: 115px;
    padding: 10px 0px;
}

.footer{
    /*background-color: blue;*/
    grid-area: footer;
    justify-self: center;
    text-align: center;
    max-width: 780px;
    font-size: 12px;

}

.footer .links{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.footer li a{
    color: #8E8E8E;
    text-decoration: none;
    padding: 5px;
}

